<table>
  <thead>
  <tr>
    <th>Вос</th>
    <th>Понедельник</th>
    <th>Вторник</th>
    <th>Среда</th>
    <th>Четверг</th>
    <th>Пятница</th>
    <th>Суббота</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let week of calendar">
    <td *ngFor="let day of week.days" [class.disabled]="day.disabled" (click)="select(day.value)">
      <span
        [class.selected]="day.selected"
        [class.active]="day.active"
      >
        {{ day.value | moment: 'ddd DD' }}
      </span>
    </td>
  </tr>
  </tbody>
</table>
